
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #FFFFFF;
}
.login-form-1{
    padding: 9%;
    background:#946332;
    background-color: #F0F0F0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h2{
    text-align: center;
    margin-bottom:5%;
    color:#2e1b07;
}
.btnSubmit{
    font-weight: 600;
    width: 25%;
    color: #282726;
    border: none;
    transition: transform .2s;
    border-radius: 0.5rem;
    outline: none !important;
    padding:1%;
    opacity: 0.8;
}
.btnSubmit:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.btnForgetPwd{
    color="#0000A0"
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    opacity: 0.8;
    color:#8b0000;
}
.form-group{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.form-group h4{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #D3D3D3;
}
body{
    background-image: url("paper.gif");
    background-color: #FFFFFF;
}
.form-control{
    font-weight: 400
    width: 20%;
    height: 25px;
}
.Epam-Login {
    text-align: center;
    margin-top: 3%;
}
.Forget-pwd {
    text-align: center;
}